@import "tailwindcss";

@theme {
  --color-primary: #016630;
  --color-secondary:#ffffff ;
  --color-accent: #f6f1de;
  --color-txtColor: #3e3f5b;
}

.heading {
  @apply text-4xl md:text-5xl uppercase;
}
.subHeading {
  @apply text-xl md:text-2xl uppercase;
}
.normalText {
  @apply text-sm md:text-lg;
}
.summary::marker {
  display: none;
}
