@import "tailwindcss";

@theme {
  --color-primary: #48A6A6;
  --color-secondary: #F6F1DE;
  --color-txtColor: #3E3F5B;
}

.heading {
  @apply text-4xl md:text-5xl uppercase;
}
.subHeading {
  @apply text-xl md:text-2xl uppercase;
}
.normalText {
  @apply text-sm md:text-lg;
}
.summary::marker {
  display: none;
}
