@import "tailwindcss";

@theme {
  --color-primary: #016630;
  --color-secondary: #ffffff;
  --color-accent: #f6f1de;
  --color-txtColor: #3e3f5b;
}

.heading {
  @apply text-3xl md:text-5xl uppercase;
}
.subHeading {
  @apply text-xl md:text-2xl uppercase;
}
.normalText {
  @apply text-sm md:text-lg;
}
.summary::marker {
  display: none;
}

.hover-underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 2px;
}

.hover-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom left;
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
}
